APP_NAME=payment-service
APP_ENV=production
APP_DEBUG=false
APP_URL=https://YOUR-PAYMENT-SERVICE.onrender.com
APP_KEY=base64:YOUR_APP_KEY_HERE
TRUSTED_PROXIES=*
LOG_CHANNEL=stderr
LOG_LEVEL=info
PORT=10000

DB_CONNECTION=mysql
DB_HOST=YOUR-AIVEN-HOST
DB_PORT=YOUR-AIVEN-PORT
DB_DATABASE=football_payment_db
DB_USERNAME=avnadmin
DB_PASSWORD=YOUR-AIVEN-PASSWORD
MYSQL_ATTR_SSL_CA=/etc/secrets/ca.pem

SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
QUEUE_CONNECTION=sync

RUN_MIGRATIONS=true
RUN_SEEDERS=false

ORDER_SERVICE_URL=https://YOUR-ORDER-SERVICE.onrender.com
INTERNAL_SERVICE_SECRET=STRIKER_SECRET_TOKEN_2026

MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
MOMO_VERIFY_SSL=true
MOMO_REDIRECT_URL=https://YOUR-API-GATEWAY.onrender.com/payment/momo/callback
MOMO_IPN_URL=https://YOUR-API-GATEWAY.onrender.com/payment/momo/ipn
